.sidebar {
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: transparent;
    border: solid 0.1px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.logo {
    padding-left: 2px;
    height: 32px;
      transform: scale(2.5); 
    /* width: 30px; */
    /* background-color: #fff; */
    /* border-radius: 40%; */
    /* object-fit: fill; */
      /* transform: scale(1.1);  */

}

button span {
    font-size: 20px;
}

button:hover {
    background-color: rgba(180, 180, 180, 0.1);
}

.history {
      flex: 1; /* take all space in the middle */
  overflow-y: auto; /* scroll if items overflow */
    margin: 10px;
    padding: 10px;
    height: 100%;
}
/* Hide scrollbar but still allow scroll */
.history::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, Edge */
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}

.sign {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    font-size: 14px;
    text-align: center;
    border-top: solid 0.25px rgba(255, 255, 255, 0.5);
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;
}

.highlighted {
    background-color: rgba(180, 180, 180, 0.05);
    border-radius: 10px;
}


.logo2{
      height: 35px;
      transform: scale(2.5); 
    /* background-color: #fff; */
    /* border-radius: %; */
   
}